<h1>List of Teams</h1>
<%= link_to 'Add New Team', new_team_path %> <br><br>

<% 'ID' 'PLAYER 1' 'PLAYER 2' %> <br>
<% @teams.each do |team| %>
<%= team.id %> 
<%= team.player1 %> 
<%= team.player2 %>
<%= link_to("Detail", team_path(team.id), class: "action show") %>
<%= link_to("Edit", edit_team_path(team.id), class: "action edit") %>
<%= link_to("Delete", team_path(team.id), method: :delete, class: "action delete") %> <br>
<% end %>

