
<h1>List of Teams</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Player 1</th>
      <th>Player 2</th>
      <th>Detail</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.id %> </td>
        <td><%= team.player1 %></td>
        <td><%= team.player2 %></td>
        <td><%= link_to("Detail", team_path(team.id), class: "action show") %></td>
        <td><%= link_to("Edit", edit_team_path(team.id), class: "action edit") %></td>
        <td><%= link_to("Delete", team_path(team.id), method: :delete, class: "action delete") %></td>
      </tr>
    <% end %>
  </tbody>
</table> 

<%= link_to 'Add New Team', new_team_path %>


