<h1>List of Teams</h1>
<table summary="Team Detail View">

	<tr>
		<td>Team ID: </td>
		<td><%= @team.id %> </td>
	</tr>

	<tr>
		<td>Player 1: </td>
		<td><%= @team.player1 %> </td>
	</tr>
	<tr>
		<td>Player 2: </td>
		<td><%= @team.player2 %> </td>
	</tr>

</table> <br>
<%=link_to(" Edit", edit_team_path(@team.id), class: 'action edit') %>
<%=link_to(" Delete", team_path(@team.id), method: :delete, class: 'action delete') %>