<h1> Team <%=@team.id%></h1>
<table summary="Team Detail View">

	<tr>
		<th>Team ID: </th>
		<td><%= @team.id %> </td>
	</tr>

	<tr>
		<th>Player 1: </th>
		<td><%= @team.player1 %> </td>
	</tr>
	
	<tr>
		<th>Player 2: </th>
		<td><%= @team.player2 %> </td>
	</tr>

</table> <br>
<%=link_to(" Edit", edit_team_path(@team.id), class: 'action edit') %>
<%=link_to(" Delete", team_path(@team.id), method: :delete, class: 'action delete') %>