<h1>Best Performers</h1>
<br>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Games</th>
      <th>Wins</th>
      <th>Win Ratio</th>
    </tr>
  </thead>

  <tbody>
    <% ActiveRecord::Base.connection.execute("
select * from players
  ").each_with_index do |performer, i| %>
      <tr>
        <td><%= (i+1) %> </td>
        <td><%= performer[0] %> </td>
        <td><%= performer[1] %></td>
        <td><%= performer[2] %></td>
        <th><%= performer[3] %> <%='%'%></th>
      </tr>
    <% end %>
  </tbody>
</table>

