<h2> Game Update </h2>

<%= form_for(:game, :url => {:action => 'update', :id =>  @game.id}) do |f| %>
	<%= f.text_field :team1, :placeholder => "PLAYERS (Team 1)" %> <br>
	<%= f.text_field :team2, :placeholder => 'PLAYERS (Team 2)' %> <br>
	<%= f.number_field :team1_id, :placeholder => 'ID (Team 1)' %> <br>
	<%= f.number_field :team2_id, :placeholder => 'ID (Team 2)' %> <br>
	<%= f.number_field :team1_score, :placeholder => 'SCORE (Team 1)' %> <br>
	<%= f.number_field :team2_score, :placeholder => 'SCORE (Team 2)' %> <br>
	<%= f.submit "Update " %>
<%end%>