<h1>List of Games</h1>
<%= link_to 'Add New Game', games_new_path %> <br><br>

<% @games.each do |game| %>
<%= game.id %> <br>
<%= game.team1 %>
<%= game.team1_score %> <br>
<%= game.team2 %>
<%= game.team2_score %> <br>
<%=link_to "Delete", game, :confirm => "You sure?", :method => :delete %> <br> <br> 
<% end %>
