<h1>List of Games</h1>
<%= link_to("Add New Game", :action => 'new', :class => 'action new')%> <br><br>

<% @games.each do |game| %>
<%= game.id %>
<%= game.team1 %>
<%= game.team2 %>
<%=link_to("Detail", {:action => 'show', :id => game.id}, :class => 'action show') %>
<%=link_to("Edit", '#', :class => 'action edit') %>
<%=link_to("Delete", '#', :class => 'action destroy') %> <br>

<% end %>
