<h1>List of Games</h1>
<%= link_to("Add New Game", :action => 'new', :class => 'action new')%> <br><br>

<% @games.each do |game| %>
<%= game.id %>
<%= game.team1 %>
<%= game.team2 %>
<%=link_to("Detail", game_path(game.id), class: 'action show') %>
<%=link_to("Edit", edit_game_path(game.id), class: 'action edit') %>
<%=link_to("Delete", game_path(game.id), method: :delete, class: 'action delete') %> <br>

<% end %>

