<h1>List of Games</h1>
<table summary="Game Detail View">
	<tr>
		<td>ID: </td>
		<td><%= @game.id %> </td>
	</tr>

	<tr>
		<td>Team1: </td>
		<td><%= @game.team1 %> </td>
	</tr>
	<tr>
		<td>Team2: </td>
		<td><%= @game.team2 %> </td>
	</tr>
	<tr>
		<td>Team1 - score: </td>
		<td><%= @game.team1_score %> </td>
	</tr>
	<tr>
		<td>Team2 - score: </td>
		<td><%= @game.team2_score %> </td>
	</tr>
	<tr>
		<td>Created: </td>
		<td><%= @game.created_at %> </td>
	</tr>
	<tr>
		<td>Updated: </td>
		<td><%= @game.updated_at %> </td>
	</tr>
</table> <br>
<%=link_to("Edit", '#', :class => 'action edit') %>
<%=link_to("Delete", '#', :class => 'action destroy') %>
<%=link_to("Back", {:action => 'index'}, :class => 'action index') %>
