

  <h1>Game <%=@game.id%></h1>
<table summary="Game Detail View">

	<tr>
		<th><%= label(:id, "Game ID :") %> </th>
		<td><%= @game.id %> </td>
	</tr>

	<tr>
		<th><%= label(:player1_id, "Team1 :") %> </th>
		<td><%= @game.player1&.first_name %> </td>
	</tr>
	<tr>
		<th><%= label(:player2_id, "Team1 :") %> </th>
		<td><%= @game.player2&.first_name %> </td>
	</tr>
	<tr>
		<th><%= label(:player3_id, "Team2 :") %> </th>
		<td><%= @game.player3&.first_name %> </td>
	<tr>
		<th><%= label(:player4_id, "Team2 :") %> </th>
		<td><%= @game.player4&.first_name %> </td>
	</tr>
	<tr>
		<th><%= label(:team1_score, "Team1 - score :") %> </th>
		<td><%= @game.team1_score %> </td>
	</tr>
	<tr>
		<th><%= label(:team1_score, "Team2 - score :") %> </th>
		<td><%= @game.team2_score %> </td>
	</tr>
	<tr>
		<th>Created: </th>
		<td><%= @game.updated_at.strftime("%d/%m/%Y") %> </td>
	</tr>
	<tr>
		<th>Updated: </th>
		<td><%= @game.updated_at.strftime("%d/%m/%Y") %> </td>
	</tr>
</table> <br>
<%=link_to(" Edit", edit_game_path(@game.id), class: 'action edit') %>
<%=link_to(" Delete", game_path(@game.id), method: :delete, class: 'action delete') %>
