<h1>Players</h1>
<br>
<p>
  <form>
    <legend> Search
      <input type='text' value='<%= params[:keyword]%>' name='keyword' placeholder='keyword'>
    </legend>
  </form>
</p>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Position</th>
      <th>Detail</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @players.sort_by {|x| x.id }.each do |player| %>
      <tr>
        <td><%= player.id %> </td>
        <td><%= player.first_name %></td>
        <td><%= player.last_name %></td>
        <td><%= player.position %></td>
        <td><%= link_to("Detail", player_path(player.id), class: "action show") %></td>
        <td><%= link_to("Edit", edit_player_path(player.id), class: "action edit") %></td>
        <td><%= link_to("Delete", player_path(player.id), data: {:confirm => 'Are you sure?'}, method: :delete, class: "action delete") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add New Player', new_player_path %>


