<h1> <%=@player.first_name%> <%=@player.last_name%></h1>
<table summary="Player Detail View">

	<tr>
		<th>ID: </th>
		<td><%= @player.id %> </td>
	</tr>

	<tr>
		<th>First Name: </th>
		<td><%= @player.first_name %> </td>
	</tr>
	
	<tr>
		<th>Last Name: </th>
		<td><%= @player.last_name %> </td>
	</tr>

	<tr>
		<th>Email: </th>
		<td><%= @player.email %> </td>
	</tr>

	<tr>
		<th>Country: </th>
		<td><%= @player.country %> </td>
	</tr>

	<tr>
		<th>Position: </th>
		<td><%= @player.position %> </td>
	</tr>

</table> <br>
<%=link_to(" Edit", edit_player_path(@player.id), class: 'action edit') %>
<%=link_to(" Delete", player_path(@player.id), method: :delete, class: 'action delete') %>